<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671401093925-vo6fos6gg7icsjmn9i3vqsfm17qoehb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671401093925-vo6fos6gg7icsjmn9i3vqsfm17qoehb1</string>
	<key>API_KEY</key>
	<string>AIzaSyCGYyh8w89F6UuzO8yzxkzCuNK57oQxPGE</string>
	<key>GCM_SENDER_ID</key>
	<string>671401093925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cameonpartee.ColorCrazy</string>
	<key>PROJECT_ID</key>
	<string>color-crazy</string>
	<key>STORAGE_BUCKET</key>
	<string>color-crazy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671401093925:ios:024a1f2629f75b41</string>
	<key>DATABASE_URL</key>
	<string>https://color-crazy.firebaseio.com</string>
</dict>
</plist>
